@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';
@import './base/_reset.scss';
@import './base/_variables.scss';
@import './base/_mixins.scss';

#test {
        font-size: 100%;
        background: url(../images/repeater.jpg);
        background-color: red;
    }